 <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Track time working</h1>
                        <h3>Let you log the time you spend on a work</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-danger btn-lg"><i class="fa fa-mail-forward"></i> <span class="network-name">เริ่มเลย!</span></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Recording realtime<br>Working hours Anywhere</h2>
                    <p class="lead">คุณสามารถบันทึกเวลาการทำงาน เข้า-ออก ของคุณได้อย่าง ถูกต้องและทันเวลา ได้โดยในทุกอุปกรณ์ ไม่ว่าจะเป็น สมาร์ทโฟน หรือ คอมพิวเตอร์แท็ปเล็ต เพียงเชื่อมต่ออินเตอร์เน็ต</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     <%= image_tag "trackytimetracker.png", class: 'img-responsive' %> 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">แสดงผลข้อมูลแบบกราฟ<br>ง่าย สะดวก ทันใจ</h2>
                    <p class="lead">แสดงผลข้อมูลแบบกราฟ ด้วย Google Chart APIs ทำให้ข้อมูลที่มีขนาดใหญ่และหลากหลาย สามารถดูได้อย่าง สะดวก ง่าย และ ทันใจ</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                     <%= image_tag "chart.jpg", class: 'img-responsive' %> 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Responsive Web Design look good on all devices</h2>
                    <p class="lead">ด้วยเทคโนโลยี Responsive Website เราสามารถแสดงผลได้ในทุกขนาดจอภาพ ทำให้สะดวกต่อการเข้าถึง </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                     <%= image_tag "responsive-web.png", class: 'img-responsive' %> 
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <h2>ติดต่อเรา<br> สอบถามข้อมูลเพิ่มเติม</h2>
                </div>
                <div class="col-lg-8">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->